.mt-6 {
    margin-top: 6rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.text-shadow{
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/*animation*/
@keyframes arrowBounce {
    0% {
        transform: translateY(0);
        opacity: 0.4;
    }

    50% {
        transform: translateY(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 0.4;
    }
}

/* KEYFRAMES */
@keyframes groomIn {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }

    40% {
        transform: translateX(20px);
        opacity: 1;
    }

    80% {
        transform: translateX(-10px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes brideIn {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }

    40% {
        transform: translateX(-20px);
        opacity: 1;
    }

    80% {
        transform: translateX(10px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes heartPop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    40% {
        transform: scale(1.4);
        opacity: 1;
    }

    80% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    40% {
        transform: scale(1.1);
        opacity: 1;
    }

    80% {
        transform: scale(0.9);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scaleOpen {
    0% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
