:root {
    --primary: #fff;
    --bg-color: #fffdf7;
    --bg-envelope-color: #f4e1d2;
    --envelope-border-color: #d3bfa6;
    --envelope-tab: #cf1c1c;
    --envelope-cover: #b60202;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: #d45b22;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color) !important;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-height: 100vh;
    max-width: 720px !important;
}

.container {
    /* background: url(../images/bg-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/*START section-1*/
.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 .envelope-wrapper {
    background-color: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
}

/* Envelope */
.section-1 .envelope-wrapper .envelope {
    width: 300px;
    height: 240px;
    position: relative;
}

.envelope-wrapper>.envelope::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 140px solid var(--envelope-tab);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    transform-origin: top;
    transition: all 0.7s ease-in-out 1.2s;
}

.section-1 .envelope-wrapper .envelope::after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
    border-top: 140px solid transparent;
    border-right: 150px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 150px solid var(--envelope-cover);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.envelope>.letter {
    width: 50%;
    height: 90%;
    position: absolute;
    right: 25%;
    bottom: 10px;
    text-align: center;
    box-shadow: 0 0 20px var(--shadow-color);
    transition: all 1.5s ease-in-out;
    border-radius: 5px;
}

.section-1 .envelope-wrapper .envelope .letter .img {
    color: var(--txt-color);
    text-align: left;
    font-size: 18px;
}

.section-1 .envelope-wrapper::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -40px;
    transform: translateX(-50%);
    width: 80%;
    height: 24px;
    background: rgb(0 0 0 / 58%);
    filter: blur(5px);
    border-radius: 50%;
    z-index: -1;
}

/*END envelope */

.heart {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index: 4;
    transform: translate(-50%, 20%) rotate(45deg);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    background-image: url(../images/wax-seal.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.flap .envelope::before {
    transform: rotateX(180deg);
    transition-delay: 0.7s;
    z-index: 0;
}

.flap .envelope .letter {
    bottom: 100px;
    transition-delay: 1.5s;
    transform: scale(1.68);
}

.envelope::before,
.envelope::after {
    filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 1px 2px #ff0202c4);
}

.letter img {
    border-radius: 5px;
    /* border: 2px solid #e23200; */
    width: 100%;
    height: auto;
}

.scale-up-center {
    animation: scale 2s ease-in-out infinite;
}

.scale-open {
    animation: scaleOpen 0.8s cubic-bezier(.22, 1.2, .36, 1) forwards;
}

.title {
    line-height: inherit;
    font-size: 2rem;
    text-align: center;
}

.title span {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
}

.chu-hy img {
    width: 200px;
}

.hd {
    text-align: center;
    font-size: 1.2rem;
    color: gray;
}

/* .name {
    position: relative;
    gap: 1.5rem;
    font-size: 2.8rem;
    font-family: 'Great Vibes', cursive;
    overflow: hidden;
}

.name .chu-re {
    text-align: end;
}

.name .co-dau {
    text-align: start;
}

.name {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100%;
}

.name .chu-re {
    justify-self: end;
}

.name .trai-tim {
    justify-self: center;
}

.name .co-dau {
    justify-self: start;
}

.name .chu-re {
    opacity: 0;
    animation: groomIn 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

.name .trai-tim {
    opacity: 0;
    animation: heartPop 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

.name .co-dau {
    opacity: 0;
    animation: brideIn 1.5s ease-out forwards;
    animation-delay: 0.5s;
}
.name::before,
.name::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 2px;
    background: linear-gradient(to right,
            transparent,
            #c9a24d,
            transparent);
}

.name::before {
    top: 0;
}

.name::after {
    bottom: 0;
}*/

.arrow-down {
    text-align: center;
    animation: arrowBounce 1.6s infinite;
}

/* End section-1 */

/*thong tin 2 gia dinh: START*/
.thong-tin-2-gia-dinh {
    font-size: 1.8rem;
}

.thong-tin-2-gia-dinh .thong-tin {
    font-weight: 700;
    font-size: 1.2rem;
}

.thong-tin-2-gia-dinh .thong-tin .dia-chi {
    font-weight: 500;
    color: gray;
}

.thong-tin-2-gia-dinh {
    position: relative;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-image: url(../images/sen-5.png);
    background-position: center;
    background-size: 250px 250px;
    background-repeat: no-repeat;
}

.hide {
    height: calc(1.5em * 3);
    background: var(--bg-color);
    position: absolute;
    top: 0;
    width: 20%;
    margin-left: -40px;
}

/* Đường kẻ bên trái */
.thong-tin-2-gia-dinh::before {
    content: "";
    position: absolute;
    left: 36px;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--envelope-cover);
    /* màu vàng nhạt sang trọng */
}

.bg img {
    position: absolute;
    width: 150px;
    bottom: -70px;
    left: -45px;
    transform: rotate(150deg);
}

@media (min-width: 800px) {
    .bg img {
        width: 200px;
        bottom: -110px;
        left: -10px;
    }
}

/* Thư mời cưới */
.thu-moi-cuoi {
    background: var(--bg-color);
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5em;
    text-align: start;
    width: fit-content;
    margin-left: -25px;
    z-index: 1;
}

/* Animation mặc định (ẩn) */
.thong-tin-2-gia-dinh .thu-moi-cuoi,
.thong-tin-2-gia-dinh .thong-tin {
    opacity: 0;
    transform: translateX(60px);
    transition: all 0.8s ease;
    width: fit-content;
}

/* Khi active */
.thong-tin-2-gia-dinh .thu-moi-cuoi.show,
.thong-tin-2-gia-dinh .thong-tin.show {
    opacity: 1;
    transform: translateX(0);
}

.dia-chi {
    opacity: 0.8;
}

.img-chu-hy {
    max-width: 100px;
    width: 17%;
    aspect-ratio: 1/3;
    background-color: var(--envelope-cover);
    position: absolute;
    top: 0;
    right: 10%;
}

.img-chu-hy {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.img-chu-hy img {
    animation: scaleOpen 3s ease infinite;
}

.img-chu-hy img {
    width: 100%;
    filter: grayscale(100%) brightness(10) contrast(2);
    padding: 10px;
}

.img-chu-hy .dot {
    background-color: whitesmoke;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

@media (max-width: 400px) {
    .thong-tin-2-gia-dinh {
        padding-left: 40px;
    }

    .thong-tin-2-gia-dinh::before {
        left: 20px;
    }

    .img-chu-hy img {
        padding: 5px;
    }
}

@media (max-width: 450px) {
    .thong-tin-2-gia-dinh {
        font-size: 1.5rem;
    }

    .thong-tin-2-gia-dinh .thong-tin {
        font-size: 1rem;
    }
}

/*thong tin 2 gia dinh: END*/

/*Intro cô dâu chú rể: START*/
.intro-co-dau-chu-re {
    font-size: 1.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.intro-co-dau-chu-re .thong-tin.title {
    font-weight: 500;
    font-size: 1.3rem;
}

.intro-co-dau-chu-re span.thong-tin {
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
}

.intro-co-dau-chu-re .thong-tin {
    opacity: 0;
}

.thong-tin.show.anim-left {
    animation: fadeInLeft 1s ease forwards;
}

.thong-tin.show.anim-right {
    animation: fadeInRight 1s ease forwards;
}

.thong-tin.show.in-up {
    animation: fadeInUp 1s ease forwards;
}

/*Intro cô dâu chú rể: END*/

/* Thời gian địa điểm tổ chức: START */
.section-info-dam-cuoi .thong-tin {
    opacity: 0;
}

.section-info-dam-cuoi .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.section-info-dam-cuoi .thong-tin-dam-cuoi {
    font-size: 1rem;
    line-height: 1.3;
}

.section-info-dam-cuoi .thong-tin-dam-cuoi .title {
    font-size: 1.2rem;
}

.section-info-dam-cuoi .thong-tin-dam-cuoi #time {
    font-size: 1.2rem;
    font-weight: 600;
}

.section-info-dam-cuoi .thoi-gian {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-info-dam-cuoi .thoi-gian i {
    opacity: 0.8;
}

.section-info-dam-cuoi .date-container .line {
    width: 2px;
    height: 36px;
    background-color: black;
}

.section-info-dam-cuoi .date-container .day {
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
}

.section-info-dam-cuoi .date-container .month,
.section-info-dam-cuoi .date-container .year {
    min-width: 70px;
    font-size: 1.2rem;
}

.section-info-dam-cuoi .thoi-gian .noi-to-chuc {
    text-align: center;
}

.section-info-dam-cuoi .thoi-gian .noi-to-chuc .chi-tiet {
    font-weight: 500;
    font-style: italic;
    opacity: 0.8;
}

.calendar-container {
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.calendar {
    background: #fff;
    border-radius: 16px;
    padding: 16px;
    border: 1px solid var(--envelope-cover);
}

.calendar-header {
    text-align: center;
    margin-bottom: 12px;
}

.calendar-header h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.calendar-weekdays,
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.calendar-weekdays div {
    font-weight: 600;
    font-size: 14px;
    padding: 8px 0;
    color: #555;
}

.calendar-days div {
    padding: 10px 0;
    margin: 4px;
    border-radius: 8px;
    font-size: 14px;
}

.calendar-days .empty {
    background: transparent;
}

.heart-day {
    position: relative;
    color: #d6336c;
    font-weight: 600;
}

.heart-day svg {
    position: absolute;
    top: 0;
    left: 0;
}

.heart-day svg {
    animation: scaleOpen 1.5s ease-in-out infinite;
}

@media (max-width: 400px) {
    .thong-tin-dam-cuoi .thoi-gian .date-container {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

/*Thời gian địa điểm tổ chức: END*/

/*Map START*/
.section-map .thong-tin {
    opacity: 0;
}

.map-container {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--envelope-cover);
}

.section-map .dia-diem {
    background-color: var(--envelope-cover);
    color: #fff;
    position: relative;
}

.section-map .dia-diem .title {
    font-size: 1.5rem;
    font-weight: 600;
}

.section-map .dia-diem .icon-box {
    position: absolute;
    top: 8px;
    left: 8px;
}

.section-map p span {
    font-size: 1rem;
}

.section-map p span.noi-to-chuc-tiec {
    font-size: 1.2rem;
    font-weight: 600;
}

.section-map p span.chi-tiet {
    font-weight: 600;
    font-style: italic;
    color: grey;
}

.btn-chi-duong a {
    text-decoration: auto;
    background: var(--envelope-cover);
    color: #fff;
    padding: 4px 8px;
    border-radius: 20px;
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
}

.btn-chi-duong a {
    animation: scaleOpen 2s ease-in-out infinite;
    animation-delay: 1s;
}

.section-map .thong-tin.show.anim-left {
    animation: fadeInLeft 0.5s ease forwards;
}

.section-map .thong-tin.show.anim-right {
    animation: fadeInRight 0.5s ease forwards;
}

.section-map .thong-tin.show.in-up {
    animation: fadeInUp 0.5s ease forwards;
}

/*Map END*/

/*Gift Start*/
.avatar-ring {
    position: relative;
    width: 120px;
    height: 120px;
}

.ring-svg {
    position: absolute;
    inset: 0;
}

.avatar-ring img {
    position: absolute;
    inset: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    object-fit: cover;
}

.bank-container {
    border-radius: 20px;
    box-shadow: 0 0 6px 6px gainsboro;
}

.bank-container .qr-img {
    background-color: #fff;
    box-shadow: 0 0 2px 2px antiquewhite;
}

.bank-container .info {
    font-size: 1rem;
    text-align: center;
}

.bank-container .info .role {
    opacity: 0.8;
}

.bank-container .info .name {
    font-weight: 500;
}

/* Section */
.gift-section {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.gift-container .thong-tin {
    opacity: 0;
}

.gift-container .title {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    color: #d70000;
}

/* Buttons */
.gift-btn {
    padding: 8px 16px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gift-btn.bride,
.gift-btn.groom {
    background: linear-gradient(115deg, var(--envelope-cover), var(--envelope-tab));
}

.gift-btn:hover {
    transform: translateY(-4px) scale(1.03);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Popup */
.gift-popup {
    position: fixed;
    inset: 0;
    display: none;
    z-index: 999;
}

.gift-popup.show {
    display: block;
}

/* Overlay */
.popup-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    animation: fadeIn 0.3s ease;
}

/* Content */
.popup-content {
    position: relative;
    background: #fff;
    max-width: 360px;
    margin: auto;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    animation: popupZoom 0.4s ease;
}

.popup-content h3 {
    margin-bottom: 16px;
    font-size: 20px;
}

.popup-content img {
    width: 220px;
    max-width: 100%;
    margin: 10px auto 20px;
    box-shadow: 0 0 2px 2px antiquewhite;
    border-radius: 5px;
}

/*Gift End*/

/*Footer Start*/
.thank-text {
    font-size: 14px;
    color: #555;
    opacity: 0.8;
    font-weight: 500;
}

/* Close button */
.popup-close {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popupZoom {
    from {
        opacity: 0;
        transform: scale(0.8) translateY(30px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.footer-thankyou .thong-tin {
    opacity: 0;
}

.footer-thankyou {
    position: relative;
    overflow: hidden;
    margin: auto;
    max-width: 500px;
    border-radius: 24px;
}

.footer-thankyou img {
    width: 100%;
    filter: brightness(0.5);
}

.footer-content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content {
    font-size: 2rem;
    font-weight: 500;
    color: white;
    font-family: 'Great Vibes', cursive;
}

.footer-content span{
    text-shadow: 0 40px 1px rgb(0 0 0);
}

/*Footer End*/

/*invitaion Start*/
.invitation-box img {
    width: 100%;
    filter: brightness(0.9);
}

.invitation-content {
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 10px;
    background-color: #f9f6eebf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.invitation-content {
    font-size: 15px;
}

.invitation-content .invitation-name {
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
}


.invitation-box {
    position: relative;
    max-width: 500px;
    margin: 48px auto;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
}

/* Ảnh nền */
.invitation-bg {
    position: absolute;
    inset: 0;
    background: url("./images/footer-bg.jpg") center / cover no-repeat;
    filter: brightness(0.9);
}

/* Nội dung */
.invitation-content {
    position: absolute;
    z-index: 2;
    padding: 1rem;
    text-align: center;
    color: #4A3F35;
}

.invite-title {
    font-family: "Family Aquarelle", cursive;
    font-size: 36px;
    margin-bottom: 20px;
}

.invite-text {
    font-size: 16px;
    line-height: 1.8;
}

.invite-name {
    font-family: "Katty Diona", cursive;
    font-size: 48px;
    margin: 24px 0;
}

.invite-date {
    font-size: 18px;
    letter-spacing: 3px;
}

.invitation-box {
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(24px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Invitation End*/

/*Audio start*/
.audio-control {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--envelope-cover);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

/* Icon chung */
.icon-music {
    width: 22px;
    height: 22px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
}

/* Trạng thái */
.icon-off {
    display: none;
}

.audio-control.playing .icon-on {
    display: block;
}

.audio-control.playing .icon-off {
    display: none;
}

.audio-control.paused .icon-on {
    display: none;
}

.audio-control.paused .icon-off {
    display: block;
}

/* Xoay khi đang phát */
.audio-control.playing {
    animation: rotateMusic 3s linear infinite;
}

.audio-control.paused {
    animation: none;
    opacity: 0.7;
}

@keyframes rotateMusic {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*Audio end*/

/*carousel img Start*/
.carousel-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0 80px 0;
}

.carousel {
    position: relative;
    width: 100%;
    height: fit-content;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel .img {
    transform-origin: center;
    transition: transform 0.8s ease-in-out;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    opacity: 0;
}

/* ảnh trung tâm */
.carousel .center {
    width: 45%;
    transform: scale(1);
    z-index: 3;
}

/* ảnh bên trái */
.carousel .left {
    width: 25%;
    transform: rotateY(0deg);
    z-index: 2;
}

/* ảnh bên phải */
.carousel .right {
    width: 25%;
    transform: rotateY(0deg);
    z-index: 2;
}

.carousel::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 50%;
    width: 60%;
    height: 26px;
    background: rgba(0, 0, 0, 0.25);
    filter: blur(5px);
    transform: translateX(-50%);
    border-radius: 50%;
}

/*carousel img End*/